html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: #0a0a0a;
    color: #ededed;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.screen pre {
    display: block;
    padding: 12px 20px;
    background: #000;
    border: 1px solid #222;
    border-radius: 5px;
    text-align: left;
}

.btn-back,
.btn-login,
.btn-logout {
    margin-bottom: 10px;
    padding: 12px 30px;
    display: inline-block;
    border: 1px solid #222;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    background: none;
    color: #ededed;
    cursor: pointer;
}

.btn-login {
    background: #90ee02;
    color: #000;
}

.github {
    position: absolute;
    top: -10px;
    right: -10px;
}